<!DOCTYPE html>
<html>
<head>
    <title>Study Planner</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
     
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body >

<div class="container mt-5">

    <div class="card shadow p-4">

        <h1 class="fw-bold mb-2">
    📚 Study Planner
</h1>

<p class="text-muted fs-5">
    Track your study sessions and visualize your progress.
</p>
<a href="/analytics" class="btn btn-info w-100 text-white fw-semibold">
    📊 View Analytics
</a>
<div class="text-center mt-3">

    <button
        id="aiBtn"
        class="btn btn-warning">

        ✨ Get AI Study Advice

    </button>

</div>
<div
    class="card mt-4"
    id="aiCard"
    style="display:none;">

    <div class="card-body">

        <h4>🤖 AI Study Advisor</h4>

        <p id="aiAdvice"></p>

    </div>

</div>
    <div class="row mt-4">

    <div class="col-6 col-md-3">
        <div class="card">
            <div class="card-body text-center">

                <div class="fs-3 mb-2">📚</div>

                <h6 class="text-muted">
                    Total Subjects
                </h6>

                <h1 id="totalSubjects"
                 class="display-5 fw-bold text-info">
                    0
                </h1>

            </div>
        </div>
    </div>

    <div class="col-6 col-md-3">
        <div class="card">
            <div class="card-body text-center">

                <div class="fs-3 mb-2">⏱️</div>

                <h6 class="text-muted">
                    Total Hours
                </h6>

                <h1 id="totalHours"
                    class="display-5 fw-bold text-info">
                    0
                </h1>

            </div>
        </div>
    </div>

    <div class="col-6 col-md-3">
        <div class="card">
            <div class="card-body text-center">

                <div class="fs-3 mb-2">📝</div>

                <h6 class="text-muted">
                    Total Study Logs
                </h6>

                <h1 id="totalLogs"
                    class="display-5 fw-bold text-info">
                    0
                </h1>

            </div>
        </div>
    </div>

    <div class="col-6 col-md-3">
        <div class="card">
            <div class="card-body text-center">

                <div class="fs-3 mb-2">🏆</div>

                <h6 class="text-muted">
                    Top Subject
                </h6>

                <h1 id="topSubject"
                    class="display-5 fw-bold text-info"
                    No Data
                </h1>

            </div>
        </div>
    </div>

</div>



        <div class="card mt-4">
    <div class="card-body">
        <h4 class="mb-3 text-center">➕ Add Study Log</h4>

        <form id="studyForm">
            <div class="row g-3">

    <div class="col-12 col-md-5">
        <input
            type="text"
            id="subject"
            class="form-control"
            placeholder="Enter Subject">
    </div>

    <div class="col-12 col-md-5">
        <input
            type="number"
            id="hours"
            class="form-control"
            placeholder="Enter Hours">
    </div>

    <div class="col-12 col-md-2 d-grid">
        <button
            class="btn btn-info"
            type="submit">
            Add Log
        </button>
    </div>

</div>
        </form>

    </div>
</div>

    </div>

    <div class="card shadow mt-4 p-4">

        <h2>📚 Study Logs</h2>
        <div class="table-responsive">
        <table class="table table-hover table-striped align-middle">
    <thead class="display-5 fw-bold text-info">
        <tr>
            <th>Subject</th>
            <th>Hours</th>
        </tr>
    </thead>

    <tbody id="logsTable">

    </tbody>

</table>
</div>

    <form action="/clear" method="POST">
   <button
    id="clearBtn"
    class="btn btn-danger mb-3">
    🗑️ Clear Logs
</button>

    </div>

</form>
</div>
</div>
<script>
let studyChart;
let logs =
    JSON.parse(
        localStorage.getItem("studyLogs")
    ) || [];

displayLogs();
updateCards();

document
.getElementById("studyForm")
.addEventListener("submit", function(e)
{
    e.preventDefault();

    let subject =
        document.getElementById("subject").value;

    let hours =
        document.getElementById("hours").value;

    logs.push({
        subject: subject,
        hours: hours
    });

    localStorage.setItem(
        "studyLogs",
        JSON.stringify(logs)
    );

    displayLogs();
    updateCards();

    this.reset();
});

function displayLogs()
{
    let table =
        document.getElementById("logsTable");

    table.innerHTML = "";

    logs.forEach(function(log)
    {
        table.innerHTML += `
        <tr>
            <td>${log.subject}</td>
            <td>${log.hours}</td>
        </tr>
        `;
    });
}
function updateCards() {

    document.getElementById("totalLogs").innerText =
        logs.length;

    let totalHours = 0;
    let subjects = [];
    let subjectHours = {};

    logs.forEach(function(log){

        totalHours += Number(log.hours);

        if (!subjects.includes(log.subject)) {
            subjects.push(log.subject);
        }

        if (subjectHours[log.subject]) {
            subjectHours[log.subject] += Number(log.hours);
        }
        else {
            subjectHours[log.subject] = Number(log.hours);
        }
    });

    document.getElementById("totalHours").innerText =
        totalHours;

    document.getElementById("totalSubjects").innerText =
        subjects.length;

    let topSubject = "No Data";
    let maxHours = 0;

    for (let subject in subjectHours) {

        if (subjectHours[subject] > maxHours) {
            maxHours = subjectHours[subject];
            topSubject = subject;
        }
    }

    if (topSubject !== "No Data") {
    topSubject = topSubject.toUpperCase();
}

document.getElementById("topSubject").textContent = topSubject;
}

document.getElementById("clearBtn")
.addEventListener("click", function(){

    let confirmClear =
        confirm(
            "Are you sure you want to clear all logs?"
        );

    if (confirmClear){

        logs = [];

        localStorage.removeItem("studyLogs");

        displayLogs();
        updateCards();
    }
});
document.getElementById("aiBtn")
.addEventListener("click", function () {
document.getElementById("aiCard").style.display = "block";

document.getElementById("aiAdvice").innerHTML =
    "⏳ AI is analyzing your study pattern...";
    fetch("/ai-advice", {

        method: "POST",

        headers: {
            "Content-Type": "application/json"
        },

        body: JSON.stringify({
            logs: logs
        })

    })

    .then(async response => {
    const data = await response.json();

    console.log(data);

    if (!response.ok) {
        alert(data.error);
        return null;
    }

    return data;
})

.then(data => {

    if (!data) return;

        document.getElementById("aiCard").style.display = "block";

    let advice = data.advice
        .replace(/\*\*/g, "")
        .replace(/#/g, "");

    let lines = advice.split("\n").filter(line => line.trim() !== "");

    let lastLine = lines.pop();

    let formattedAdvice = lines.join("<br><br>");

    formattedAdvice += `
        <div class="motivation-line">
            ${lastLine}
        </div>
    `;

    document.getElementById("aiAdvice").innerHTML = formattedAdvice;
        })
    

    .catch(error => {

        console.error('ai error:', error);

        alert("Unable to get AI advice.");

    });

});

</script>

</body>
</html>